.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  max-width: 1000px;
  padding: 0;
}

.home .container img {
  margin-bottom: 30px;
}
